.wholePageContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(209, 218, 255, 0.58);
}
.header-banner{
   height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myLogo{
    position: absolute;
    width: 12vmin;
    height: 12vmin;
    background-image: url("images/myLogo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2%;
    background-color: rgba(67, 233, 233, 0.75);
    border-radius: 50%;
    border: 2px ridge #bfb6fb;
    box-shadow: 0 0 3px 5px rgba(104, 251, 248, 0.58);
}
.hamLogo{
    display: none;
}
.hamMenuContainer{
    display: none;
}
.main-container{
    height: 85vh;
    width: 90vw;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*font-size: 0;*/
}
.gameArea{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.rowOfPieces{
    height: 12.5%;
}
.gameStatusPlayer1{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
}
.gameStatusPlayer2{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
}
.gameAction{
    display: inline-block;
    height: 80vmin;
    width: 80vmin;
    margin: 0 1% 0;
    float: left;
    border: 2px solid #ffcc1b;
    box-shadow: 5px 5px 3px 2px #d4cfca, -5px -5px 3px 2px #d4cfca;
}
.player1, .player2{
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 3rem;
}
.square{
    display: inline-block;
    width: 12.5%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
}
.light{
    background-color: #8f4831;
}
.dark{
    background-color: #008419;

}
.whitePiece{
    background-image: url("images/nike.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.whitePieceRemoved{
    background-image: url("images/nikeCaptured.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.killedPlayer1, .killedPlayer2{
    width: 100%;
    height: 60%;
}
.killedPlayer1Img{
    display: inline-block;
    width: 15%;
    height: 25%;
    float: left;
}
.killedPlayer2Img{
    display: inline-block;
    width: 15%;
    height: 25%;
    float: left;
}
.blackPiece{
    background-image: url("images/addidas.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.blackPieceRemoved{
    background-image: url("images/addidasCaptured.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.highlightPiece{
    border: 2px solid #0008dd;
    box-sizing: border-box;
}
.selectedToMove{
    border: 2px solid #088000;
    animation: blink 0.5s linear infinite;
    box-sizing: border-box;
}
@keyframes blink {
    50% {
        border-color: rebeccapurple;
    }
    75%{
        border-color: chartreuse;
    }
}
.player1King{
    background-image: url("images/addidasKing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.player2King{
    background-image: url("images/nikeKing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modal-body{
    display: flex;
    justify-content: space-around;
}
.player1Modal{
    margin: 0 10%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("images/addidas.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.player2Modal{
    margin: 0 10%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("images/nike.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.winModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.51);
}
.innerModal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 5px;
}
.modalHeader{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #61DAFB;
    border-radius: 5px 5px 0 0;
    font-size: 4rem;
}
.winnerImg{
    height: 25%;
    margin: 10px auto -5px;
}
.modalBody{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.closeBtnModal{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.header-banner{
    position: relative;
    text-align: center;
}

.navbar{
    display: inline-block;
    margin: 0;
}
.navItem{
    display: inline-block;
    cursor: pointer;
    width: 10vw;
    border-radius: 2px;
    position: relative;
    top: 50%;
    border: 1px solid rgba(8, 28, 229, 0.5);
    background-color: #fbc2a9;
}
.navItem:hover{
    background-color: rgba(11, 0, 180, 0.34);
    border:none;
}
.navItem>a{
    text-decoration: none;
    line-height: 2;
}
.navItem:hover a{
    color: white;
}
.playerImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 2px 3px #fbff79;
    background-color: #fbff79;
}
.playerSelected{
    animation: glow 0.5s alternate infinite;
}
@keyframes glow {
    0%{
        box-shadow: 0 0 2px 2px red;
        background-color: red;
    }
    100%{
        box-shadow: 0 0 10px 5px green;
        background-color: green;
    }
}
.playersStats{
    height: 80%;
    margin-left: 10%;
}
.statPieceContainer{
    display: flex;
    justify-content: center;
}
.player1Stat{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.player2Stat{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
}
table{
    width: 80%;
    background-color: rgba(48, 78, 49, 0.70);
    box-shadow: 0 0 5px 15px rgba(48, 78, 49, 0.7);
}
.statPara{
    color: #ffffff;
    text-align: right;
    font-weight: bold;
}
.statHeader{
    width: 7vmin;
    height: 7vmin;
    text-align: center;
    color: #2a00ff;
    text-decoration: underline;
}
.killedPlayer1Img{
    margin: 5%;
}
.killedPlayer2Img{
    margin: 5%;
}
#choosePlayer{
    background-color: rgba(240, 240, 240, 0.61);
}
.modal-content{
    background-color: #fdffe0;
    border-radius: 10px;
}
.modal-header{
    background-color: rgba(85, 249, 251, 0.85);
    border-radius: 10px 10px 0 0;
}
.modal-footer{
    background-color: rgba(85, 249, 251, 0.85);
    border-radius: 0 0 10px 10px;
}
.rulesModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 214, 198, 0.62);
    overflow: auto;
}
.rulesInnerModal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    background-color: #00a419;
    transform: translate(-50%, -50%);
    overflow-x: scroll;
    padding: 5%;
}
.rulesBold{
    font-size: 1.6rem;
    font-weight: bold;
}
#closeBtnRules{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
}
#rulesCancelBtn{
    width: 1.8em;
    height: 1.8em;
    line-height: 1.6em;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 14%;
    border-radius: 50%;
    background-color: orangered;
    z-index: 2;
    cursor: pointer;
    font-weight: bold;font-size: 2rem;
}
.menuOnFocus{
    background-color: rgba(11, 0, 180, 0.57);
}
.menuOnFocus > a{
    color: white;
}

#notYourTurnMessage{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5%;
    background-color: #6effec;
    border-radius: 3px;
}
#notYourTurnMessage p {
    margin: 0;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newGame{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

}
.newGame > button{
    border-radius: 5px;
    box-shadow: 0 0 2px 5px #ffffff;
}
/*@media only screen and (min-width: 1150px) {*/
    /*.gameStatus{*/
        /*width: 25%;*/
    /*}*/
    /*.playerStatus{*/
        /*width: 25%;*/
    /*}*/
/*}*/
ul{
    padding: 0;
    margin-top: 10px;
}
.statsModalShowBtn{
    display: none;
}
.statsModalContainer{
    display: none;
}
.rulesHeader{
    margin-top: -5%;
}
#choosePlayer .modal-body{
    background-color: #ebd2bd;
}
#resetGame .modal-body{
    background-color: #ebd2bd;
}
.hideKing{
    display: none;
}
.pieceHover{
    cursor: pointer;
}