body{
    /*background-image: url("images/beach.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-color: #ebebeb;
}
.main-container{
    height: 85vh;
    width: 90vw;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*font-size: 0;*/
}
.gameArea{
    position: relative;
    height: 100%;
    width: 100%;
}
.rowOfPieces{
    height: 12.5%;
}
.gameStatus{
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
}
.gameAction{
    display: inline-block;
    height: 85vmin;
    width: 85vmin;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffcc1b;
    box-shadow: 10px 10px 5px 2px #d4cfca;
}
.playerStatus{
    display: inline-block;
    height: 100%;
    width: 20%;
    float: right;
}
.player1, .player2{
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 3rem;
}
.square{
    display: inline-block;
    width: 12.5%;
    height: 100%;
}
.light{
    background-color: #9e1b0f;
}
.dark{
    background-color: #2e86c0;

}
.whitePiece{
    background-image: url("images/whitePiece.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.whitePieceRemoved{
    background-image: url("images/whitePieceRemoved.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.killedPlayer1, .killedPlayer2{
    width: 100%;
    height: 60%;
}
.killedPlayer1Img{
    display: inline-block;
    width: 15%;
    height: 25%;
    float: left;
}
.killedPlayer2Img{
    display: inline-block;
    width: 15%;
    height: 25%;
    float: left;
}
.blackPiece{
    background-image: url("images/blackPiece.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.blackPieceRemoved{
    background-image: url("images/blackPieceRemoved.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.highlightPiece{
    border: 2px solid #0008dd;
    box-sizing: border-box;
}
.selectedToMove{
    border: 2px solid #088000;
    animation: blink 0.5s linear infinite;
    box-sizing: border-box;
}
@keyframes blink {
    50% {
        border-color: rebeccapurple;
    }
    75%{
        border-color: chartreuse;
    }
}
.player1King{
    background-image: url("images/blackPieceKing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.player2King{
    background-image: url("images/whitePieceKing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modal-body{
    display: flex;
    justify-content: space-around;
}
.player1Modal{
    margin: 0 10%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("images/blackPiece.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.player2Modal{
    margin: 0 10%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("images/whitePiece.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.winModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.51);
}
.innerModal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 5px;
}
.modalHeader{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #61DAFB;
    border-radius: 5px 5px 0 0;
    font-size: 4rem;
}
.winnerImg{
    height: 25%;
    margin: 10px auto -5px;
}
.modalBody{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.closeBtnModal{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.header-banner{
    position: relative;
    text-align: center;
}

.navbar{
    display: inline-block;
    margin: 0;
}
.navItem{
    display: inline-block;
    cursor: pointer;
    width: 10vw;
    border-radius: 2px;
    position: relative;
    top: 50%;
    border: 1px solid rgba(229, 194, 59, 0.57);
}
.navItem:hover{
    background-color: rgba(229, 194, 59, 0.57);
}
.navItem>a{
    text-decoration: none;
    line-height: 2;
}
.navItem:hover a{
    color: white;
}
.playerImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.playerSelected{
    animation: glow 0.5s alternate infinite;
}
@keyframes glow {
    0%{
        box-shadow: 0 0 2px 2px red;
        background-color: red;
    }
    100%{
        box-shadow: 0 0 10px 5px green;
        background-color: green;
    }
}
.playersStats{
    height: 80%;
    margin-left: 10%;
}
.statPieceContainer{
    display: flex;
    justify-content: center;
}
.player1Stat{
    height: 50%;
}
.player2Stat{
    height: 50%;
}
.whitePieceStat{
    display: inline-block;
    height: 30px;
    width: 30px;
}
.blackPieceStat{
    display: inline-block;
    height: 30px;
    width: 30px;
}
.statPara{
    color: green;
}
.lineSeparator{
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: red;
}
@media only screen and (max-width: 850px) {
    .gameStatus{
        display: block;
        height: 20%;
        width: 100%;
        float: none;
    }
    .player1, .player2{
        width: 49%;
        height: 100%;
    }
    .gameAction{
        top: 30%;
    }
    .playerStatus{
        float: none;
        width: 100%;
        height: 10%;
        position: absolute;
        top: 135%;
    }
    .playerImg{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .player1Stat{
        width: 48%;
        display: inline-block;
    }
    .player2Stat{
        width: 48%;
        display: inline-block;
    }
    .lineSeparator{
        display: inline-block;
        height: 150px;
        width: 2px;
        background-color: red;
    }
}
@media only screen and (max-width: 700px){
    .gameAction{
        position: relative;
        margin-top: 10%;
    }
    .playerStatus{
        position: relative;
        margin-top: 5%;
    }
    .playerImg{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    .player1Stat{
        width: 48%;
        display: inline-block;
    }
    .player2Stat{
        width: 48%;
        display: inline-block;
    }
    .lineSeparator{
        display: inline-block;
        height: 150px;
        width: 2px;
        background-color: red;
    }
}
.rulesModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 214, 198, 0.62);
}
.rulesInnerModal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    background-color: #61DAFB;
    transform: translate(-50%, -50%);
    overflow-x: scroll;
    padding: 5%;
}
.rulesBold{
    font-size: 1.6rem;
    font-weight: bold;
}
#closeBtnRules{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
}
#rulesCancelBtn{
    width: 5vmin;
    height: 5vmin;
    color: white;
    position: absolute;
    top: 13%;
    right: 14%;
    border-radius: 50%;
    background-color: orangered;
    z-index: 2;
    cursor: pointer;
}
.timesClose{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuOnFocus{
    background-color: #ffb700;
    color: white;
}
#notYourTurnMessage{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 21%;
    height: 5%;
    background-color: #6effec;
    border-radius: 3px;
}
#notYourTurnMessage p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newGame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}